In [38]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
from sklearn.metrics import mean_absolute_error, root_mean_squared_error, r2_score

In [39]:
import os
#change directory (chdir)
os.chdir('G://My Drive/#myCDACfiles/MachineLearning/Datasets')

In [40]:
pizza = pd.read_csv('pizza.csv')
X, y = pizza[['Promote']], pizza['Sales']

In [41]:
#  x , x^2, x^3
poly = PolynomialFeatures(degree=3, include_bias=False).set_output(transform='pandas')
X_poly = poly.fit_transform(X)   #converted X to x, x^2, x^3
lr = LinearRegression()
lr.fit(X_poly, y)
lr.intercept_ , lr.coef_

(np.float64(82.19586845468507),
 array([ 1.47739093e+01,  2.29013837e-01, -1.63766841e-03]))

### Insurance

Operating_cost is dependent variable, so we set it as X

In [42]:
# Read the insurance dataset and set the first column as the DataFrame index
insure = pd.read_csv("Insure_auto.csv", index_col=0)

# Separate predictors (X) from the target variable (y).
# 'Operating_Cost' is the value we want to predict, so keep it as y
X = insure.drop('Operating_Cost', axis=1)
y = insure['Operating_Cost']

# Display the dataframe in the notebook for a quick inspection
insure

        Home  Automobile  Operating_Cost
Branch
B01      400        1200          124000
B02      350         360           71000
B03      600         800          136000
B04      800        1800          219000
B05      900        1600          230000
B06      200        1000           75000
B07      120         900           56000
B08      340        1100          110000
B09      490         900          120000
B10      700         800          144000

### Boston

In [43]:

# Read the Boston dataset and split it into predictors (X) and the target variable (y)
boston = pd.read_csv('Boston.csv')
X = boston.drop('medv', axis=1)
y = boston['medv']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=25)

In [44]:
#Degree 2
poly = PolynomialFeatures(degree=2, include_bias=False).set_output(transform='pandas')
X_trn_poly = poly.fit_transform(X_train)   #train set transformed into polynomials
X_tst_poly = poly.transform(X_test)
lr = LinearRegression()
lr.fit(X_trn_poly, y_train)
y_pred = lr.predict(X_tst_poly)
mean_absolute_error(y_test, y_pred)

2.6635485505319316

In [45]:
#Degree 3
poly = PolynomialFeatures(degree=3, include_bias=False).set_output(transform='pandas')
X_trn_poly = poly.fit_transform(X_train)   #converted X to x, x^2, x^3
X_tst_poly = poly.transform(X_test)
lr = LinearRegression()
lr.fit(X_trn_poly, y_train)
y_pred = lr.predict(X_tst_poly)
mean_absolute_error(y_test, y_pred)

193.4522213544079

In [46]:
#Degree 4
poly = PolynomialFeatures(degree=4, include_bias=False).set_output(transform='pandas')
X_trn_poly = poly.fit_transform(X_train)   #converted X to x, x^2, x^3
X_tst_poly = poly.transform(X_test)
lr = LinearRegression()
lr.fit(X_trn_poly, y_train)
y_pred = lr.predict(X_tst_poly)
mean_absolute_error(y_test, y_pred)

70.9428124431238

### Housing

In [47]:
from sklearn.preprocessing import OneHotEncoder

In [48]:
housing = pd.read_csv('Housing.csv')

In [49]:
cat_house = housing[ housing.columns[housing.dtypes == 'object'] ]
num_house = housing[ housing.columns[housing.dtypes != 'object'] ]

In [50]:
ohe = OneHotEncoder(drop='first', sparse_output=False).set_output(transform='pandas')
ohe_house = ohe.fit_transform(cat_house)
house = pd.concat([num_house, ohe_house],axis=1)
X, y = house.drop('price', axis=1), house['price']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=25)
house

,price,lotsize,bedrooms,bathrms,stories,garagepl,driveway_yes,recroom_yes,fullbase_yes,gashw_yes,airco_yes,prefarea_yes
0,42000.0,5850,3,1,2,1,1.0,0.0,1.0,0.0,0.0,0.0
1,38500.0,4000,2,1,1,0,1.0,0.0,0.0,0.0,0.0,0.0
2,49500.0,3060,3,1,1,0,1.0,0.0,0.0,0.0,0.0,0.0
3,60500.0,6650,3,1,2,0,1.0,1.0,0.0,0.0,0.0,0.0
4,61000.0,6360,2,1,1,0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
541,91500.0,4800,3,2,4,0,1.0,1.0,0.0,0.0,1.0,0.0
542,94000.0,6000,3,2,4,0,1.0,0.0,0.0,0.0,1.0,0.0
543,103000.0,6000,3,2,4,1,1.0,1.0,0.0,0.0,1.0,0.0
544,105000.0,6000,3,2,2,1,1.0,1.0,0.0,0.0,1.0,0.0
545,105000.0,6000,3,1,2,1,1.0,0.0,0.0,0.0,1.0,0.0

In [51]:
poly = PolynomialFeatures(degree=1, include_bias=False).set_output(transform='pandas')
X_trn_poly = poly.fit_transform(X_train)   #train set transformed into polynomials
X_tst_poly = poly.transform(X_test)
lr = LinearRegression()
lr.fit(X_trn_poly, y_train)
y_pred = lr.predict(X_tst_poly)
mean_absolute_error(y_test, y_pred)

11600.941705536447

In [52]:
poly = PolynomialFeatures(degree=2, include_bias=False).set_output(transform='pandas')
X_trn_poly = poly.fit_transform(X_train)   #train set transformed into polynomials
X_tst_poly = poly.transform(X_test)
lr = LinearRegression()
lr.fit(X_trn_poly, y_train)
y_pred = lr.predict(X_tst_poly)
mean_absolute_error(y_test, y_pred)

12967.811684765691

In [53]:
poly = PolynomialFeatures(degree=3, include_bias=False).set_output(transform='pandas')
X_trn_poly = poly.fit_transform(X_train)   #train set transformed into polynomials
X_tst_poly = poly.transform(X_test)
lr = LinearRegression()
lr.fit(X_trn_poly, y_train)
y_pred = lr.predict(X_tst_poly)
mean_absolute_error(y_test, y_pred)

18574.334494824307

In [54]:
poly = PolynomialFeatures(degree=4, include_bias=False).set_output(transform='pandas')
X_trn_poly = poly.fit_transform(X_train)   #train set transformed into polynomials
X_tst_poly = poly.transform(X_test)
lr = LinearRegression()
lr.fit(X_trn_poly, y_train)
y_pred = lr.predict(X_tst_poly)
mean_absolute_error(y_test, y_pred)

15444.616102040412

### Transformer

In [57]:
from sklearn.compose import ColumnTransformer

In [58]:
ohe = OneHotEncoder(drop='first', sparse_output=False).set_output(transform='pandas')
col_trnf = ColumnTransformer([('OHE',ohe, list(housing.columns[housing.dtypes==object]))],
                             remainder = 'passthrough',
                             verbose_feature_names_out = False)
col_trnf = col_trnf.set_output(transform='pandas')
col_trnf.fit_transform(housing)

,driveway_yes,recroom_yes,fullbase_yes,gashw_yes,airco_yes,prefarea_yes,price,lotsize,bedrooms,bathrms,stories,garagepl
0,1.0,0.0,1.0,0.0,0.0,0.0,42000.0,5850,3,1,2,1
1,1.0,0.0,0.0,0.0,0.0,0.0,38500.0,4000,2,1,1,0
2,1.0,0.0,0.0,0.0,0.0,0.0,49500.0,3060,3,1,1,0
3,1.0,1.0,0.0,0.0,0.0,0.0,60500.0,6650,3,1,2,0
4,1.0,0.0,0.0,0.0,0.0,0.0,61000.0,6360,2,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
541,1.0,1.0,0.0,0.0,1.0,0.0,91500.0,4800,3,2,4,0
542,1.0,0.0,0.0,0.0,1.0,0.0,94000.0,6000,3,2,4,0
543,1.0,1.0,0.0,0.0,1.0,0.0,103000.0,6000,3,2,4,1
544,1.0,1.0,0.0,0.0,1.0,0.0,105000.0,6000,3,2,2,1
545,1.0,0.0,0.0,0.0,1.0,0.0,105000.0,6000,3,1,2,1

### Exp Salary

In [63]:
from sklearn.compose import make_column_selector

In [64]:
sal = pd.read_csv("Exp_Salaries.csv")
X = sal.drop('Salary', axis=1)
y = sal['Salary']
sal

,Salary,Years_Previous_Experience,Years Employed,Years_Education,Gender,Department,Number_Supervised
0,32782,1,0,7,Male,A,0
1,32920,3,15,9,Female,A,4
2,29548,6,5,1,Male,A,0
3,39828,6,18,5,Female,A,5
4,31528,11,3,3,Male,A,6
5,38985,7,18,9,Male,A,5
6,41889,16,22,7,Male,A,7
7,38791,4,21,5,Male,A,9
8,28985,1,0,4,Female,A,4
9,24749,2,6,0,Female,A,1
10,35467,6,3,6,Female,B,3
11,35468,5,9,4,Female,B,5
12,29876,0,2,3,Female,B,5
13,43674,9,6,4,Male,B,2
14,36431,4,9,4,Female,B,2
15,26578,6,0,2,Female,B,2
16,36571,1,6,4,Male,B,2
17,56326,3,12,8,Male,B,6
18,23654,0,0,0,Female,C,2
19,36578,4,4,8,Male,C,8
20,37548,9,19,4,Male,C,6
21,53234,0,25,6,Male,C,3
22,54679,3,20,6,Female,C,4
23,47536,5,15,6,Male,C,4
24,31425,6,7,5,Female,C,6
25,65487,0,27,12,Female,D,44
26,46184,3,20,4,Male,D,1
27,54899,5,12,8,Female,D,0
28,34869,5,7,4,Female,D,1
29,35487,2,8,2,Female,D,2
30,26548,1,5,0,Male,D,2
31,34231,2,6,6,Male,D,3
32,39331,3,9,6,Female,D,1
33,36512,6,6,4,Female,D,2
34,68425,2,25,12,Male,D,1
35,36487,5,6,2,Male,D,3
36,34632,4,5,4,Male,D,0
37,46211,5,14,6,Female,D,5
38,51698,6,18,6,Male,D,1
39,69246,3,22,10,Male,D,45
40,48695,19,6,8,Male,D,40
41,34987,6,9,2,Female,D,3
42,35631,4,6,4,Male,D,2
43,39743,6,9,5,Female,D,1
44,41255,4,9,6,Male,D,4
45,26452,3,1,2,Female,D,0

In [66]:
ohe = OneHotEncoder(drop='first', sparse_output=False).set_output(transform='pandas')
col_trnf = ColumnTransformer([('OHE',ohe, make_column_selector(dtype_include=object))],
                             remainder = 'passthrough',
                             verbose_feature_names_out = False)
col_trnf = col_trnf.set_output(transform='pandas')
col_trnf.fit_transform(housing)

,driveway_yes,recroom_yes,fullbase_yes,gashw_yes,airco_yes,prefarea_yes,price,lotsize,bedrooms,bathrms,stories,garagepl
0,1.0,0.0,1.0,0.0,0.0,0.0,42000.0,5850,3,1,2,1
1,1.0,0.0,0.0,0.0,0.0,0.0,38500.0,4000,2,1,1,0
2,1.0,0.0,0.0,0.0,0.0,0.0,49500.0,3060,3,1,1,0
3,1.0,1.0,0.0,0.0,0.0,0.0,60500.0,6650,3,1,2,0
4,1.0,0.0,0.0,0.0,0.0,0.0,61000.0,6360,2,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
541,1.0,1.0,0.0,0.0,1.0,0.0,91500.0,4800,3,2,4,0
542,1.0,0.0,0.0,0.0,1.0,0.0,94000.0,6000,3,2,4,0
543,1.0,1.0,0.0,0.0,1.0,0.0,103000.0,6000,3,2,4,1
544,1.0,1.0,0.0,0.0,1.0,0.0,105000.0,6000,3,2,2,1
545,1.0,0.0,0.0,0.0,1.0,0.0,105000.0,6000,3,1,2,1