In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
from sklearn.metrics import mean_absolute_error, root_mean_squared_error, r2_score

In [2]:
import os
#change directory (chdir)
os.chdir('G://My Drive/#myCDACfiles/MachineLearning/Datasets')

In [3]:
pizza = pd.read_csv('pizza.csv')
X, y = pizza[['Promote']], pizza['Sales']

In [4]:
#  x , x^2, x^3
poly = PolynomialFeatures(degree=3, include_bias=False).set_output(transform='pandas')
X_poly = poly.fit_transform(X)   #converted X to x, x^2, x^3
lr = LinearRegression()
lr.fit(X_poly, y)
lr.intercept_ , lr.coef_

(np.float64(82.19586845468507),
 array([ 1.47739093e+01,  2.29013837e-01, -1.63766841e-03]))

### Insurance

Operating_cost is dependent variable, so we set it as X

In [5]:
# Read the insurance dataset and set the first column as the DataFrame index
insure = pd.read_csv("Insure_auto.csv", index_col=0)

# Separate predictors (X) from the target variable (y).
# 'Operating_Cost' is the value we want to predict, so keep it as y
X = insure.drop('Operating_Cost', axis=1)
y = insure['Operating_Cost']

# Display the dataframe in the notebook for a quick inspection
insure

        Home  Automobile  Operating_Cost
Branch
B01      400        1200          124000
B02      350         360           71000
B03      600         800          136000
B04      800        1800          219000
B05      900        1600          230000
B06      200        1000           75000
B07      120         900           56000
B08      340        1100          110000
B09      490         900          120000
B10      700         800          144000

### Boston

In [6]:

# Read the Boston dataset and split it into predictors (X) and the target variable (y)
boston = pd.read_csv('Boston.csv')
X = boston.drop('medv', axis=1)
y = boston['medv']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=25)

In [7]:
#Degree 2
poly = PolynomialFeatures(degree=2, include_bias=False).set_output(transform='pandas')
X_trn_poly = poly.fit_transform(X_train)   #train set transformed into polynomials
X_tst_poly = poly.transform(X_test)
lr = LinearRegression()
lr.fit(X_trn_poly, y_train)
y_pred = lr.predict(X_tst_poly)
mean_absolute_error(y_test, y_pred)

2.6635485505319316

In [8]:
#Degree 3
poly = PolynomialFeatures(degree=3, include_bias=False).set_output(transform='pandas')
X_trn_poly = poly.fit_transform(X_train)   #converted X to x, x^2, x^3
X_tst_poly = poly.transform(X_test)
lr = LinearRegression()
lr.fit(X_trn_poly, y_train)
y_pred = lr.predict(X_tst_poly)
mean_absolute_error(y_test, y_pred)

193.4522213544079

In [9]:
#Degree 4
poly = PolynomialFeatures(degree=4, include_bias=False).set_output(transform='pandas')
X_trn_poly = poly.fit_transform(X_train)   #converted X to x, x^2, x^3
X_tst_poly = poly.transform(X_test)
lr = LinearRegression()
lr.fit(X_trn_poly, y_train)
y_pred = lr.predict(X_tst_poly)
mean_absolute_error(y_test, y_pred)

70.9428124431238

### Housing

In [10]:
from sklearn.preprocessing import OneHotEncoder

In [11]:
housing = pd.read_csv('Housing.csv')

In [12]:
cat_house = housing[ housing.columns[housing.dtypes == 'object'] ]
num_house = housing[ housing.columns[housing.dtypes != 'object'] ]

In [13]:
ohe = OneHotEncoder(drop='first', sparse_output=False).set_output(transform='pandas')
ohe_house = ohe.fit_transform(cat_house)
house = pd.concat([num_house, ohe_house],axis=1)
X, y = house.drop('price', axis=1), house['price']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=25)
house

,price,lotsize,bedrooms,bathrms,stories,garagepl,driveway_yes,recroom_yes,fullbase_yes,gashw_yes,airco_yes,prefarea_yes
0,42000.0,5850,3,1,2,1,1.0,0.0,1.0,0.0,0.0,0.0
1,38500.0,4000,2,1,1,0,1.0,0.0,0.0,0.0,0.0,0.0
2,49500.0,3060,3,1,1,0,1.0,0.0,0.0,0.0,0.0,0.0
3,60500.0,6650,3,1,2,0,1.0,1.0,0.0,0.0,0.0,0.0
4,61000.0,6360,2,1,1,0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
541,91500.0,4800,3,2,4,0,1.0,1.0,0.0,0.0,1.0,0.0
542,94000.0,6000,3,2,4,0,1.0,0.0,0.0,0.0,1.0,0.0
543,103000.0,6000,3,2,4,1,1.0,1.0,0.0,0.0,1.0,0.0
544,105000.0,6000,3,2,2,1,1.0,1.0,0.0,0.0,1.0,0.0
545,105000.0,6000,3,1,2,1,1.0,0.0,0.0,0.0,1.0,0.0

In [14]:
poly = PolynomialFeatures(degree=1, include_bias=False).set_output(transform='pandas')
X_trn_poly = poly.fit_transform(X_train)   #train set transformed into polynomials
X_tst_poly = poly.transform(X_test)
lr = LinearRegression()
lr.fit(X_trn_poly, y_train)
y_pred = lr.predict(X_tst_poly)
mean_absolute_error(y_test, y_pred)

11600.941705536447

In [15]:
poly = PolynomialFeatures(degree=2, include_bias=False).set_output(transform='pandas')
X_trn_poly = poly.fit_transform(X_train)   #train set transformed into polynomials
X_tst_poly = poly.transform(X_test)
lr = LinearRegression()
lr.fit(X_trn_poly, y_train)
y_pred = lr.predict(X_tst_poly)
mean_absolute_error(y_test, y_pred)

12967.811684765691

In [16]:
poly = PolynomialFeatures(degree=3, include_bias=False).set_output(transform='pandas')
X_trn_poly = poly.fit_transform(X_train)   #train set transformed into polynomials
X_tst_poly = poly.transform(X_test)
lr = LinearRegression()
lr.fit(X_trn_poly, y_train)
y_pred = lr.predict(X_tst_poly)
mean_absolute_error(y_test, y_pred)

18574.334494824307

In [17]:
poly = PolynomialFeatures(degree=4, include_bias=False).set_output(transform='pandas')
X_trn_poly = poly.fit_transform(X_train)   #train set transformed into polynomials
X_tst_poly = poly.transform(X_test)
lr = LinearRegression()
lr.fit(X_trn_poly, y_train)
y_pred = lr.predict(X_tst_poly)
mean_absolute_error(y_test, y_pred)

15444.616102040412

### Transformer

In [18]:
from sklearn.compose import ColumnTransformer

In [19]:
ohe = OneHotEncoder(drop='first', sparse_output=False).set_output(transform='pandas')
col_trnf = ColumnTransformer([('OHE',ohe, list(housing.columns[housing.dtypes==object]))],
                             remainder = 'passthrough',
                             verbose_feature_names_out = False)
col_trnf = col_trnf.set_output(transform='pandas')
col_trnf.fit_transform(housing)

,driveway_yes,recroom_yes,fullbase_yes,gashw_yes,airco_yes,prefarea_yes,price,lotsize,bedrooms,bathrms,stories,garagepl
0,1.0,0.0,1.0,0.0,0.0,0.0,42000.0,5850,3,1,2,1
1,1.0,0.0,0.0,0.0,0.0,0.0,38500.0,4000,2,1,1,0
2,1.0,0.0,0.0,0.0,0.0,0.0,49500.0,3060,3,1,1,0
3,1.0,1.0,0.0,0.0,0.0,0.0,60500.0,6650,3,1,2,0
4,1.0,0.0,0.0,0.0,0.0,0.0,61000.0,6360,2,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
541,1.0,1.0,0.0,0.0,1.0,0.0,91500.0,4800,3,2,4,0
542,1.0,0.0,0.0,0.0,1.0,0.0,94000.0,6000,3,2,4,0
543,1.0,1.0,0.0,0.0,1.0,0.0,103000.0,6000,3,2,4,1
544,1.0,1.0,0.0,0.0,1.0,0.0,105000.0,6000,3,2,2,1
545,1.0,0.0,0.0,0.0,1.0,0.0,105000.0,6000,3,1,2,1

### Exp Salary

In [54]:
from sklearn.compose import make_column_selector
from sklearn.compose import ColumnTransformer

In [55]:
ohe = OneHotEncoder(drop='first', sparse_output=False).set_output(transform='pandas')
col_trnf = ColumnTransformer([('OHE',ohe, list(sal.columns[sal.dtypes==object]))],
                             remainder = 'passthrough',
                             verbose_feature_names_out = False)
col_trnf = col_trnf.set_output(transform='pandas')
sal=col_trnf.fit_transform(sal)

In [59]:
sal = pd.read_csv("Exp_Salaries.csv")
X,y = sal.drop('Salary', axis=1),sal['Salary']

In [60]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=25)
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46 entries, 0 to 45
Data columns (total 7 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Salary                     46 non-null     int64
 1   Years_Previous_Experience  46 non-null     int64
 2   Years Employed             46 non-null     int64
 3   Years_Education            46 non-null     int64
 4   Gender                     46 non-null     object
 5   Department                 46 non-null     object
 6   Number_Supervised          46 non-null     int64
dtypes: int64(5), object(2)
memory usage: 2.6+ KB

In [62]:
for i in range(1,5):
    poly = PolynomialFeatures(degree=i, include_bias=False).set_output(transform='pandas')
    X_trn_poly = poly.fit_transform(X_train)   #train set transformed into polynomials
    X_tst_poly = poly.transform(X_test)
    lr = LinearRegression()
    lr.fit(X_trn_poly, y_train)
    y_pred = lr.predict(X_tst_poly)
    #scores.append([d,mean_absolute_error(y_test, y_pred)])
    print(np.round(mean_absolute_error(y_test, y_pred),2))

ValueError: could not convert string to float: 'Male'